if SHIELD_LILY58_HANDWIRED_LEFT

config ZMK_KEYBOARD_NAME
    default "Lily58"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_LILY58_HANDWIRED_RIGHT

config ZMK_KEYBOARD_NAME
    default "Lily58"

endif